@font-face {
    font-family: 'Norse Bold';
    src: url("fonts/Norse-Bold.otf");
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input {
    height: 25px;
    padding: 2px;
    background-color: rgb(243, 242, 242);
    border-radius: 3px;
    border: 2px solid #E5E7EB;
}

form input:focus {
    outline: none;
    border: 2px solid #2578f5;
}

.banner>p a:visited, .banner>p a:before {
    color: rgba(250, 250, 250, .8);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 100vh;
    height: auto;
}

.banner {
    position: relative;
    background-image: url(imgs/green-leaf-plant);
    background-size: cover;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 175px;
    padding: 15px;
    background-color: rgba(0, 0, 0, .6);
}

.logo-container img {
    height: 7.5rem;
}

.logo-container p {
    display: inline;
    font-family: 'Norse Bold';
    font-size: 6.2rem;
    color: white;
}

.banner>p {
    position: absolute;
    bottom: 10px;
    left: 35%; 
    color: rgba(250, 250, 250, .85);
    font-size: .8rem;
}

.information {
    background-color: #eee;

}

.cta {
    padding: 100px 20px 10px 40px;
    font-weight: bold;
    font-size: 1.25rem;
}

form {
    margin-top: 40px;
}

.info-inputs {
    background-color: #fff;
    box-shadow: 0px 3px #ddd;
    padding: 20px 150px 35px 40px;
}

.name-info {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}

.contact-info {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}

.password-info {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}

.submit-container {
    padding: 20px 150px 35px 40px;
}

button[type="submit"] {
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #596D48;
    color: #fff;
    font-size: .9rem;
    font-weight: bold;
}

.form-end-text {
    margin-top: 30px;
}

.submit-container a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}