@font-face {
    font-family: 'Norse Bold';
    src: url("fonts/Norse-Bold.otf");
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a:visited, a:before {
    color: rgba(250, 250, 250, .8);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 100vh;
    height: auto;
}

.banner {
    position: relative;
    background-image: url(imgs/green-leaf-plant);
    background-size: cover;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 175px;
    padding: 15px;
    background-color: rgba(0, 0, 0, .6);
}

.logo-container img {
    height: 7.5rem;
}

.logo-container p {
    display: inline;
    font-family: 'Norse Bold';
    font-size: 6.2rem;
    color: white;
}

.banner>p {
    position: absolute;
    bottom: 10px;
    left: 35%; 
    color: rgba(250, 250, 250, .85);
    font-size: .8rem;
}

.information {
    padding: 10px;
}